.container{
    margin: auto;
}
.container-fluid{
    background-color:#D95D39 !important;
}
.hed{
text-align: center;
font-family: alfabet, sans-serif;
font-weight: 800;
font-style: normal;
font-size: 5em;
color:#D95D39;
text-shadow: 1px 1px #000000;
}
.byline{
text-align: center;
font-family: alfabet, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 1em;
text-transform: uppercase;
letter-spacing: .2em;
color:#000000;
}
.subhead{
    text-align: center;
    font-family: alfabet, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2em;
    color:#FFF4EC;
    text-shadow: 1px 1px #000000;
}
img{
    width: 100%;
    max-width: 1080px;
    display: block;
    margin: auto;
}
.caption{
    font-family: "georgiapro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:.75em;
}
.chapterhed{
    font-family: alfabet, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1.5em;
    color:#D95D39;
}
.content{
    font-family: "georgiapro", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:1em;
}

.row {
 text-align: center;
 font-family: alfabet, sans-serif;
 font-weight: 400;
 font-style: italic;
 font-size: 1em;
}
.footer{
background-color: #111D13;
text-align: center;
font-family: alfabet, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 1em;
color: #ffffff;
}
.container-fluid{
    background-color: #111D13;
}
.nav-link{
    color: #ffffff;
}

.leftquotemark{
    font-family: "georgiapro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:3em; 
    color: #D95D39;
}
.rightquotemark {
    font-family: "georgiapro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size:3em; 
    color: #D95D39;
}

.pullquote{
    font-family: alfabet, sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 2em;
    color:#000000;
    text-align: center;
}
.pullattribution{
    font-family: "georgiapro", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size:.75em; 
    margin-top:-200px ;
    padding-right: 75px;
    text-align: right;
}
#header {
    background-image: url(justice-georgie.jpg);
    background-color: #f6e5bd;
   height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 7em;
}
#hedandfriends{
    position: sticky;
    top: 0;
}
.nav-item{
    font-family: alfabet, sans-serif;
    font-size: .5em;
    font-weight: 800;
    font-style: normal;
    text-transform:uppercase;
}
.navbar a {
    color: #000000; 
    text-decoration: none; 
}


.navbar a:hover {
    color: #582707; 
    text-decoration: underline; 
}


.navbar a:visited {
    color: #4C5B61; 
}
.sidebar{
    width: 85%;
    background-color: #ffffff;
    margin: auto;
    border: solid 2px #D95D39;
}
.sidebar-title{
    font-family: alfabet, sans-serif;
    font-size: 1em;
    font-weight: 800;
    background-color: #D95D39;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
.sidebar-text{
    padding: 10px;
    font-family: alfabet, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #000000;
}
.felt-like{
    padding: 10px;
    font-family: alfabet, sans-serif;
    font-size: 1em;
    font-weight: 800;
    color: #D95D39;
}
ul{
    font-family: alfabet, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #000000; 
}

@media only screen and (max-width: 768px) {

    img {
        max-width: 100%;
        height: auto;
    }

    blockquote{
        max-width: 100%;
        height: auto;
    }

    iframe{
        max-width: 100%;
        height: auto; 
    }
}