

#container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;

}
<!---default type --->
body {
    font: arial, helvetica, sans-serif;
    font-weight: 400; 
    color: darkslategray;
    font-size: 1em ; 
}

#name {
font-size: 3em;
font-weight: 400;
text-transform: uppercase;
text-align: center;
color: #33485e;
width: 60%;
min-width: 300px;
margin: 0 auto;
border-bottom: 1px #33485e;
}

#title {
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #33485e;
 }
.sectionheader {
    font-size: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #33485e;
    color: white;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
    width: 70%;
    min-width: 300px;
}
.dates {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    color: darkslategray;
    margin-top: 2px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.jobtitle{
    font-size: 1.5em;
    font: helvetica;
    font-weight: 400;
    font-style: italic;
    color: darkslategray;
}
.description{
    font-size: 1em;
    font-weight: 400;
    color: darkslategray;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;

}
.menu {
margin: 0px;
text-align: center;
display: inline;
}

#do{
margin-top: 5px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}
#degrees{
margin-top: 5px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}
.top{
width: 60%;
min-width: 300px;
margin: 0 auto;
margin-bottom: 30px;
}